{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block email %}
    {# email content goes here #}
    <div class="mui--text-dark-secondary mui--text-display1">Welcome to Nexure!</div>
    <div class="mui--text-dark mui--text-body2">
        Thank you for choosing us for your insurance needs.
        To complete your registration process kindly click the button below to confirm your account.
        Alternatively you can confirm your account later by clicking the button below.<br/>
        Kindly note the link below will expire after 1 hour. <br />
    </div>
    <div>
      <a href="{{ url_endpoint }}?token={{ confirm_token }}"
         class="mui-btn mui-btn--raised mui-btn--danger">
          Confirm
      </a>
    </div>
    <div>
        <div class="mui--text-dark mui--text-body1">Cheers!</div>
        <div class="mui--text-dark mui--text-body1">Nexure Team</div>
    </div>
{% endblock %}
