{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block email %}
    {# email content goes here #}
    <div class="mui--text-dark-secondary mui--text-display1">Welcome to Nexure!</div>
    <div class="mui--text-dark mui--text-body2">
        Thank you for choosing us for your insurance needs.
        Kindly use the below temporary password for your first time login. <br />
        Remember to change your password upon login.
    </div>
    <div class="mui--text-dark-secondary mui--text-display1">
    {{ temp_password }}
    </div>
    <div>
      <a href="{{ url_endpoint }}" class="mui-btn mui-btn--raised mui-btn--danger">
          Proceed to login
      </a>
    </div>
    <div>
        <div class="mui--text-dark mui--text-body1">Cheers!</div>
        <div class="mui--text-dark mui--text-body1">Nexure Team</div>
    </div>
{% endblock %}
